#Publications{
    max-height: 260px;
    overflow: hidden;
    display: inline-block;
}
#ExpandPublications{
    color: #990000;
    margin-left: 216px;
    font-weight: 1000;
    cursor: pointer;
}
